/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/*
fond1
fond2
fond3
card
img
text
profil
presentation
*/

/* les différents fonds */

.fond1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(32, 40, 124);
  align-items: center;
  width: 100%;
  height: 100%;
}
.fond2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23em;
  height: 36em;
  border-radius: 20px;
  background-color: rgb(39, 45, 112);
}
.fond3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20em;
  height: 34em;
  border-radius: 20px;
  background-color: rgb(39, 44, 98);
}

/* partie card */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: rgb(35, 38, 82);
  border-radius: 20px;
  padding: 5px;
}

/* Partie div text ensemble */

.card-text {
  padding-left: 5px;
  width: 90%;
}
h2 {
  color: #ffffff;
  font-size: 20px;
  margin: 0 0 1em 0;
}
h2:hover {
  color: rgb(0, 225, 255);
  cursor: pointer;
}

.text {
  margin: 0 0 1em 0;
  color: #9cadbd;
  font-size: 14px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div .details-horloge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div .details-eterum {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.details-eterum {
  color: rgb(0, 225, 255);
}

.logo-eterum {
  line-height: 0;
}
.logo-horloge {
  line-height: 0;
}
.details-text {
  line-height: 3;
}
.details-eterum {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* partie profil */

.profil {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.8em 0 1em 0;
}
.presentation {
  padding-left: 1em;
  color: #9cadbd;
  font-size: 14px;
}

/* les images */
div .img {
  margin: 1em 0 1em 0;
  width: 90%;
  z-index: 1;
}
.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
div .img {
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 15rem;
  height: 15rem;
  background-image: url("../images/image-equilibrium.jpg");
  background-size: 100%;
  border-radius: 1.1em;
}
.img:hover {
  filter: invert(30%) sepia(81%) hue-rotate(870deg) saturate(390%);
  transition-delay: 0.2s;
}

/* coloration et mise en forme du texte */

.card .img2 {
  object-fit: cover;
  width: 1.7em;
  border: 1px solid white;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.name:hover {
  color: rgb(0, 225, 255);
  cursor: pointer;
}

/* logo oeil */

.logo-oeil {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.logo-oeil:hover {
  opacity: 1;
  transition-delay: 0.2s;
}
